<html>
<script src="/javascripts/reconnectingWebsocket.js"></script>
<script src="/javascripts/solar.js"></script>

<% if (global.settings.options.webserver.defaultcssfile) { %>
    <LINK href="<%= global.settings.options.webserver.defaultcssfile %>" rel="stylesheet" type="text/css">
<% } %>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.3">


</head>
<body onload="load()" style="width:250px">
<h2>Trace SW5548 Inverter</h2>
<hr>
<div id='displaytext'>
</div>
<hr>
<div id='displayvalue'>
</div>
<hr>
<div id='buttons'>
    <button onclick="sendkey('r')">R</button>
    <button onclick="sendkey('l')">L</button>
    <button onclick="sendkey('\x13')">menu9</button>
    <br>
    <br>
    <button onclick="sendkey('u')">U</button>
    <button onclick="sendkey('d')">D</button>


    <button style="visibility:hidden">menu9</button>




    <button onclick="sendkey('-')">-</button>
    <button onclick="sendkey('=')">+</button>
    <hr>
</div>
<textarea readonly id="swleds" rows="17" style="width:230px;" onclick='x=x+5'></textarea>
<hr>
<button onclick="menu4()">menu4</button>


</body>
</html>
<script>


    function load() {
        settings =<%- JSON.stringify(settings) %>
            things =<%- JSON.stringify(things) %>
                wsUri = "ws://" + window.location.hostname + ":<%= wsport %>";
        websockstart();
    }


</script>
