<html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/solar.js"> </script>

<% if (global.settings.options.webserver.defaultcssfile) {%>
<LINK href="<%=global.settings.options.webserver.defaultcssfile%>" rel="stylesheet" type="text/css">
<%}%>

<head>


</head>
<body onload="load()">

<h2>Trace SW5548 Inverter</h2>
<hr>
<div id = 'displaytext' >
</div>
<hr>
<div id = 'displayvalue' >
</div>
<button onclick="sendkey('r')">R</button>
<button onclick="sendkey('l')">L</button>
<button onclick="sendkey('u')">U</button>
<button onclick="sendkey('d')">D</button>
<button onclick="sendkey('\x13')">Set up menu</button>
<button onclick="sendkey('/')">?</button>

<button onclick="sendkey('=')">+</button>
<button onclick="sendkey('-')">-</button>
<textarea id="swleds" rows="20" style="width:200px;"></textarea>

<textarea id="xantrexdata" rows="20" style="width:200px;"></textarea>
<textarea id="outbackdata" rows="20" style="width:200px;"></textarea>



</body>
</html>
<script>



    function load() {
        settings=<%-JSON.stringify(settings)%>
        things=<%-JSON.stringify(things)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";
        websockstart();
    }


</script>
