<html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/solar.js"> </script>

<% if (global.settings.options.webserver.defaultcssfile) {%>
<LINK href="<%=global.settings.options.webserver.defaultcssfile%>" rel="stylesheet" type="text/css">
<%}%>

<head>


</head>
<body onload="load()">

<h2>Trace SW5548 Inverter</h2>
<hr>
<div id = 'displaytext' >
</div>
<hr>
<div id = 'displayvalue' >
</div>
<div id = 'buttons' style="visibility: hidden">
<button onclick="sendkey('r')">R</button>
<button onclick="sendkey('l')">L</button>
<button onclick="sendkey('u')">U</button>
<button onclick="sendkey('d')">D</button>
<button onclick="sendkey('\x13')">menu9</button>
<button onclick="sendkey('/')">?</button>
<button onclick="menu4()">menu4</button>


<button onclick="sendkey('-')">-</button>
<button onclick="sendkey('=')">+</button>
<hr>
</div>
    <textarea readonly id="swleds" rows="20" style="width:200px;" onclick='x=0' ></textarea>

<textarea readonly id="outbackdata" rows="20" style="width:200px;" onclick='x++'></textarea>
<textarea readonly id="outbackdata2" rows="20" style="width:200px;"onclick='x=x+5'></textarea>
<textarea readonly id="swData" rows="20" style="width:330px;"onclick='x=0'></textarea>

<textarea readonly id="xantrexdata" rows="20" style="width:200px;" onclick="showButtons()"></textarea>




</body>
</html>
<script>


    var x = 0
    function showButtons()
    {
        if (x==7){
            document.getElementById('buttons').style.visibility='visible'

        } else
        {
            document.getElementById('buttons').style.visibility='hidden'
        }
    }
    function load() {
        settings=<%-JSON.stringify(settings)%>
        things=<%-JSON.stringify(things)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";
        websockstart();
    }


</script>
