<html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/trace.js"> </script>

<% if (global.settings.options.webserver.defaultcssfile) {%>
<LINK href="<%=global.settings.options.webserver.defaultcssfile%>" rel="stylesheet" type="text/css">
<%}%>

<head>


</head>
<body onload="load()">

<h2>Trace SW5548 Inverter</h2>
<hr>
<div id = 'displaytext' >
</div>
<hr>
<div id = 'displayvalue' >
</div>
<button onclick="sendkey('R')">R</button>
<button onclick="">L</button>
<button onclick="">U</button>
<button onclick="">D</button>
<button onclick="">V</button>
<button onclick="">?</button>

<button onclick="">+</button>
<button onclick="">-</button>

</body>
</html>
<script>



    function load() {
        settings=<%-JSON.stringify(settings)%>
        things=<%-JSON.stringify(things)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";
        websockstart();
    }


</script>
